.DS_Store
build/
target/
.classpath
.project
bin/
dist/
testresults/
.settings/
.thumbnails/
.nautilus-metafile.xml
.clover
.AppleFileInfo
*.zip
clover_html/
clover/
xom.gif
data/XInclude-Test-Suite/
data/xmlconf/
data/canonical/xmlconf/
data/oasis*/ 
testresults/ 
pantry/
workspace/
junit*properties
dist/
xom.fb
jester*
trademark*
