.DS_Store
build/
target/
.classpath
.project
bin/
dist/
testresults/
.settings/
.vscode/
.thumbnails/
.nautilus-metafile.xml
.AppleFileInfo
data/XInclude-Test-Suite/
data/xmlconf/
data/canonical/xmlconf/
data/oasis*/ 
testresults/ 
workspace/
junit*properties
dist/
xom.fb
jester*
trademark*
ivy/
