version: 2.1
jobs:
  build:
    docker:
      - image: cimg/openjdk:8.0
    steps:
      - run:
          name: Set up SSH
          command: |
            mkdir -p ~/.ssh
            printf '%s\n' "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
            chmod 600 ~/.ssh/id_rsa
            ssh-keyscan github.com >> ~/.ssh/known_hosts
            git clone git@github.com:elharo/xom.git cloned-repo
      - checkout
      - run: java --version
      - run:
          name: Tests
          command: ant -Dtest.haltonfailure=true test
          no_output_timeout: 10m
